/* .iframe {
  border: none;
} */

.video {
  padding: 50% 0 0 0;
}

.pageContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.helpfulPeeps {
  background-color: var(--bg-color);
}

.h1,
.sectionHeader {
  font-size: var(--16px);
  font-weight: 400;
  /* text-transform: uppercase; */
  text-align: center;
  margin-top: var(--16px);
}

.h2,
.sectionBlurb {
  font-size: var(--24px);
  max-width: 80%;
  align-self: center;
  margin: var(--32px) 0 var(--32px);
  font-weight: 400;
}

.h3 {
  font-weight: 400;
  margin-bottom: var(--16px);
}

.seriesTitle {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.videoWrapper:not(:last-of-type) {
  margin-bottom: 6rem;
}

.textWrapper {
  max-width: 50ch;
  padding: 0 5px 0 20px;
  line-height: 1.75;
}

.textWrapper > h2 {
  text-align: center;
  padding-bottom: 1em;
}

.credits {
  font-size: 0.8rem;
}

.creditsStart {
  margin-top: 1em;
}

@media (min-width: 700px) {
  .videoWrapper {
    flex-direction: row;
    gap: 3rem;
  }

  .videoWrapper:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .videoWrapper:not(:last-of-type) {
    margin-bottom: unset;
  }

  /* .video {
    flex-basis: 50%;
  } */

  .textWrapper {
    max-width: 100ch;
    padding: unset;
    flex-basis: 40%;
    align-self: center;
  }
  .textWrapper > h2 {
    text-align: left;
    font-size: var(--40px);
    font-weight: 400;
    line-height: 1;
  }
}

@media (min-width: 900px) {
  .h2,
  .sectionBlurb {
    margin-bottom: unset;
  }
}

@media (min-width: 1200px) {
  .h2,
  .sectionBlurb {
    max-width: 60%;
    /* margin-top: 3rem; */
  }
  .videoWrapper {
    gap: 5rem;
  }
  /* .video {
    flex-basis: 60%;
  } */
  .textWrapper {
    flex-basis: 30%;
  }
  .textWrapper > h2 {
    font-size: var(--48px);
  }
}
