.list {
  list-style-type: none;
  font-size: 0.9rem;
}

.markers {
  list-style-type: revert;
  font-size: unset;
}

.markers li {
  margin-left: var(--32px);
  margin-top: var(--16px);
}

.markers > ul,
.markers > ol {
  margin-left: var(--16px);
}
