.gridWrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(60ch, calc(100% - 64px))
    1fr;
  grid-column-gap: 32px;
}

.gridWrapper > * {
  grid-column: 2;
}

.headerImg {
  width: 100%;
  height: auto;
  grid-column: 1 / -1;
  position: absolute;
  top: 0;
  z-index: -1;
}

.h1,
.h2 {
  margin-top: 3rem;
}
.h2 {
  margin-bottom: var(--16px);
}

.p {
  margin: var(--32px) 0;
}
.p:last-of-type {
  margin: 0;
}
.note {
  margin: 0 0 var(--32px);
}
.storyboard {
  margin-top: var(--32px);
}

.introBody {
  padding: 12px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 4rem;
}

.aside {
  margin-top: 0;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: var(--16px);
}
.aside > summary {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
}
.chevronDown {
  display: inline;
  transition: transform 250ms ease;
}
.aside[open] {
  padding: var(--16px);
  .chevronDown {
    transform: rotate(90deg);
  }
}
.aside[open] summary {
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: var(--16px);
}

.ul,
.ol {
  line-height: 1.6;
}

.ul > li,
.ol > li {
  margin-left: var(--32px);
}
.ul > ul {
  margin-left: var(--16px);
}

.ol {
  margin: var(--32px) 0;
}

.ol:first-of-type {
  margin: var(--16px) 0 var(--32px);
  /* margin-bottom: var(--32px); */
}

.regImg,
.wideImg {
  border: 2px solid var(--accent-color);
  justify-self: center;
}

.regImg {
  width: 300px;
  height: auto;
}

.wideImg {
  width: 650px;
  height: auto;
}

.gif {
  justify-self: center;
}

.nextProject {
  margin-top: 5rem;
  justify-self: flex-end;
}

@media (max-width: 600px) {
  .headerImg {
    top: 50px;
  }

  .p:first-of-type {
    margin-top: var(--16px);
  }
}
