.h1,
.h2,
.h3,
.sectionHeader {
  font-weight: 400;
}
.h2,
.sectionHeader {
  max-width: 80%;
}

.h1 {
  font-size: 1rem;
  /* text-transform: uppercase; */
  text-align: center;
  margin-top: 1rem;
}

.h2 {
  font-size: 1.5rem;
  align-self: center;
  margin: 2rem auto 0;
}

.sectionHeader {
  font-size: 2rem;
  margin: 3rem auto 0;
}

.onScreen,
.voiceovers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}
.sectionHeader {
  flex-basis: 100%;
}
/* .onScreen {
  background-color: var(--bg-color);
} */
.onScreen > *:not(.sectionHeader) {
  flex-basis: 30%;
}
.voiceovers > *:not(.sectionHeader) {
  flex-basis: 48%;
}

.video {
  padding: 50% 0 0 0;
}

@media (min-width: 1200px) {
  .onScreen,
  .voiceovers {
    flex-direction: row;
  }
  .h2 {
    max-width: 60%;
  }
  .sectionHeader {
    margin: 6rem auto 0;
  }
  .video {
    padding: 10% 0 10% 0;
  }
}
