/*
  Elyse's customized version of Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* GLOBAL STYLES AND ROOT VARIABLES */

html {
  --accent-color: #233d4d;
  --text-emphasis: #005f73;
  --icon-links: #463f3a;
  --bg-color: #f7f7f7;
}
/* body {
  height: 100svh;
} */

a,
a:visited {
  color: #000;
  text-underline-offset: 0.2em;
}
a:hover {
  text-decoration: none;
}
