.gridWrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, calc(100% - 64px))
    1fr;
  grid-column-gap: 32px;
}

.gridWrapper > * {
  grid-column: 2;
}

.fullBleed {
  width: 100%;
  grid-column: 1 / -1;
}

.intro {
  font-size: 1.5rem;
  /* margin-top: -100px; */
  /* z-index: 0; */
}

.firstName {
  color: #005f73;
}

.socialIconLinks {
  margin: 0 auto;
}

.socialIconLinks > * {
  margin-top: 10px;
  padding: 10px 5px;
}

.projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.listsWrapper {
  display: flex;
}

.listHeader {
  font-size: 1rem;
}
