.gridWrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(60ch, calc(100% - 64px))
    1fr;
  grid-column-gap: 32px;
}

.gridWrapper > * {
  grid-column: 2;
}

.fullBleed {
  width: 100%;
  grid-column: 1 / -1;
  position: absolute;
  top: 0;
}

.introHeading {
  font-size: 1.5rem;
  margin-top: 20px;
  /* z-index: 0; */
}

.emphasize {
  color: #005f73;
}

.h2 {
  font-size: 1.5rem;
  margin-top: 50px;
}

.introBody {
  margin-top: 20px;
  padding: 12px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.introParagraph {
  flex-basis: 28ch;
}

.socialIconLinks {
  margin: 10px auto;
}

.socialIconLinks > * {
  padding: 10px 5px;
}

.projectsWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 52px;
}

.listsWrapper {
  display: flex;
}

.listHeader {
  font-size: 1rem;
}
