.button {
  background: none;
  border: none;
}

.asterisk {
  font-size: var(--20px);
  line-height: 1;
  color: #c4362c;
  font-weight: 600;
}

.popover {
  width: 25ch;
  height: auto;
  padding: 12px;
  border-radius: 5px;
  background-color: var(--accent-color);
  /* background-color: #2b2d42; */
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: slideOut 0.2s ease-out;
}

@keyframes slideOut {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popover,
.popover a,
.popover a:visited {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #fff;
}

.popoverArrow {
  fill: var(--accent-color);
}
